<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cse.capstonedesign.Capstone.mapper.CommunityMapper">
	<select id="getRecentAllWritings" resultType="cse.capstonedesign.Capstone.model.Writing"> 
		SELECT 
				BOARD_NO, TITLE, CONTENT, WRITE_DATE, LIKE_COUNT, USER_ID, NICKNAME
		FROM 
				COMMUNITY AS CMT LEFT JOIN USER AS USR 
		ON 
				CMT.USER_ID = USR.ID
		WHERE 
				DEL_FLAG = 0 ORDER BY BOARD_NO DESC;
	</select>

	<select id="getLikeAllWritings" resultType="cse.capstonedesign.Capstone.model.Writing"> 
		SELECT 
				BOARD_NO, TITLE, CONTENT, WRITE_DATE, LIKE_COUNT, USER_ID, NICKNAME
		FROM 
				COMMUNITY AS CMT LEFT JOIN USER AS USR 
		ON 
				CMT.USER_ID = USR.ID
		WHERE 
				DEL_FLAG = 0 ORDER BY LIKE_COUNT DESC;
	</select>

	<select id="getUserAllWritings" resultType="cse.capstonedesign.Capstone.model.Writing"> 
		SELECT 
				BOARD_NO, TITLE, CONTENT, WRITE_DATE, LIKE_COUNT, USER_ID, NICKNAME
		FROM 
				COMMUNITY AS CMT LEFT JOIN USER AS USR 
		ON 
				CMT.USER_ID = USR.ID
		WHERE 
				DEL_FLAG = 0 AND USER_ID = #{user_id} ORDER BY BOARD_NO DESC;
	</select>

	<select id="getWritingDetailByNo" resultType="cse.capstonedesign.Capstone.model.Writing"> 
		SELECT * 
		FROM COMMUNITY 
		WHERE BOARD_NO = #{board_no};
	</select>

	<insert id="insertWriting" useGeneratedKeys="true" parameterType="cse.capstonedesign.Capstone.model.Writing"> 
		INSERT INTO COMMUNITY(TITLE, CONTENT, USER_ID)
		VALUE (#{writing.title}, #{writing.content}, #{writing.user_id});
	</insert>

	<update id="updateWriting" useGeneratedKeys="true" parameterType="cse.capstonedesign.Capstone.model.Writing">
		UPDATE 
			COMMUNITY 
		SET TITLE = #{writing.title}, 
			CONTENT = #{writing.content}
		WHERE 
			BOARD_NO = #{board_no};
	</update>

	<delete id="deleteWriting">
		DELETE FROM COMMUNITY WHERE BOARD_NO = #{board_no};
	</delete>
</mapper>
